#container
{
	font-family: 'Lucida Grande';
	color: black;
}

.mail
{
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s ease-out;
}

#container:hover .content, #container:hover .sender { text-decoration: underline; }

.high
{
	-webkit-transform: translate(0,-90px);
	-webkit-transition-timing-function: ease-in;
}

.quotes
{
	text-align: inherit;
	font-size: 28pt;
	vertical-align: top;
	color: inherit;
	position: relative;
	top: -8px;
}

#actions
{
	background-image: url(../img/plus.png);
	height: 18px;
	width: 18px;
	position: absolute;
	right: 20px;
	top: 5px;
	-webkit-transition: -webkit-transform 0.7s ease-in;
	z-index: 1001;
	cursor: pointer;
	opacity: 0.7;
}

#actions:hover { opacity: 1; }

.plus
{
	-webkit-transform: rotate(0deg);
	display: none;
}

.close { -webkit-transform: rotate(-225deg); }
body:hover .plus { display: block; }

#overlay
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	background-color: #000;
	-webkit-transition: opacity 0.7s ease-in;
	z-index: 1000;
}

.overlayInactive
{
	opacity: 0;
	pointer-events: none;
}

.overlayActive { opacity: 0.8; }

#previous
{
	background-image: url(../img/previous.png);
	height: 18px;
	width: 22px;
	position: absolute;
	left: 20px;
	top: 5px;
	z-index: 0;
	cursor: pointer;
	opacity: 0.7;
	display: none;
}

#previous:hover { opacity: 1; }
#previous:active { opacity: 1 !important; }
body:hover #previous { display: block; }

#next
{
	background-image: url(../img/next.png);
	height: 18px;
	width: 22px;
	position: absolute;
	left: 52px;
	top: 5px;
	z-index: 0;
	cursor: pointer;
	opacity: 0.7;
	display: none;
}

#next:hover { opacity: 1; }
#next:active { opacity: 1 !important; }
body:hover #next { display: block; }
.hide { display: none !important; }

#buttonContainer
{
	position: absolute;
	top: 5px;
}

#reload
{
	background-image: url(../img/reload.png);
	height: 18px;
	width: 18px;
	position: absolute;
	left: 20px;
	top: 5px;
	z-index: 1001;
	cursor: pointer;
	opacity: 0.7;
}

#reload:hover { opacity: 1; }
#reload:active { opacity: 1 !important; }

.reloadSpinning
{
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	cursor: default !important;
}

@-webkit-keyframes    spin {
 from {
   -webkit-transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(360deg);
 }
}

#compose
{
	background-image: url(../img/compose.png);
	height: 18px;
	width: 20px;
	position: absolute;
	left: 0px;
	z-index: 1001;
	cursor: pointer;
	opacity: 0.7;
}

#compose:hover { opacity: 1; }
#compose:active { opacity: 1 !important; }

#hide
{
	height: 34px;
	width: 18px;
	position: absolute;
	left: 30px;
	z-index: 1001;
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url(../img/hide.png);
}

#hide:hover
{
	opacity: 1;
	-webkit-transform: translate(0px, -16px);
	-webkit-transition-timing-function: ease-in;
}

#hide:active { opacity: 1 !important; }
