<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>it.eliacereda.gmailcounter</string>
       <key>Developer Identifier</key>
       <string>9RZ58KZLJT</string>
       <key>CFBundleVersion</key>
       <string>7.1</string>
       <key>CFBundleShortVersionString</key>
       <string>0.7.1</string>
       <key>URL</key>
       <string>http://elix14.altervista.org/Extensions/GMail%20Counter/assets/GMail Counter.safariextz</string>
     </dict>
   </array>
</dict>
</plist>