.setting.bundle.description {
    margin-left: 2px;
    padding-left: 10px;
    border-left: 1px solid #C2C2C2;
    color: #555555;
}

#nothing-found {
	margin: 0;
	padding: 0;
	border: none;
	color: #999999;
	margin-top: 10px !important;
}

#GCPlayButton {
	position: relative;
	right: 15px;
	
	cursor: pointer;
}

@-webkit-keyframes arrowAnimate {
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	50% {
		-webkit-transform: translate(8px, 0px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
	}
}

#GCAlertDiv {
	background: #fff;
	border: #C2C2C2 solid 1px;
	right: 0;
	height: 270px;
	-webkit-box-shadow: 5px 5px 10px #888;
	margin: auto;
}

#GCBody {
		border-top: 1px solid #EEE;
		margin-top: 10px;
		padding-left: 2px;
		padding-top: 5px;
}

#GCArrow {
	position: relative;
	right: 60px;
	bottom: 8px;
	
	-webkit-animation-name: arrowAnimate;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
}

#GCClose {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

button, input[type='button'], input[type='submit'] {
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), color-stop(40%, #f4f4f4), to(#e5e5e5));
  background-color: #ebebeb;
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
}

button:hover, input[type='button']:hover, input[type='submit']:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), color-stop(40%, #f8f8f8), to(#e9e9e9));
  background-color: #ebebeb;
  border-color: #999;
  color: #222;
}

button:active, input[type='button']:active, input[type='submit']:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), color-stop(40% #efefef), to(#dcdcdc));
  background-color: #ebebeb;
  color: #333;
}

button[disabled], input[type='button'][disabled], input[type='submit'][disabled],
button[disabled]:hover, input[type='button'][disabled]:hover, input[type='submit'][disabled]:hover {
  -webkit-box-shadow: none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), color-stop(40% #f4f4f4), to(#e5e5e5));
  border-color: #aaa;
  color: #888;
}