<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>it.eliacereda.gmailcounter</string>
			<key>CFBundleShortVersionString</key>
			<string>0.8.2</string>
			<key>CFBundleVersion</key>
			<string>8.2</string>
			<key>Developer Identifier</key>
			<string>9RZ58KZLJT</string>
			<key>URL</key>
			<string>http://gmailcounter-app.appspot.com/download/stable/GMail-Counter.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
