<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Elia Cereda</string>
	<key>CFBundleDisplayName</key>
	<string>GMail Counter</string>
	<key>CFBundleIdentifier</key>
	<string>it.eliacereda.gmailcounter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.1</string>
	<key>CFBundleVersion</key>
	<string>5.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>button</string>
				<key>Image</key>
				<string>status.png</string>
				<key>Label</key>
				<string>GMail Counter</string>
				<key>Palette Label</key>
				<string>GMail Counter</string>
				<key>Tool Tip</key>
				<string>GMail Counter - No new messages</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Count GMail's unread messages in your toolbar</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>mail.google.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://elix14.altervista.org/GMailCounter/update.plist</string>
</dict>
</plist>
