<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>null</string>
		<key>Key</key>
		<string>previousMailsArray</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>hiddenByMe</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Google Apps settings (optional)</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>appsDomain</string>
		<key>Title</key>
		<string>Domain</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Inbox</string>
		<key>Key</key>
		<string>label</string>
		<key>Title</key>
		<string>Label (one label at time, write "All" for all labels)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>GMailTab</string>
		<key>Key</key>
		<string>openIn</string>
		<key>Title</key>
		<string>Open links in</string>
		<key>Titles</key>
		<array>
			<string>new tab every time</string>
			<string>new window every time</string>
			<string>already open GMail tab</string>
			<string>active page</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>newTab</string>
			<string>newWindow</string>
			<string>GMailTab</string>
			<string>activeTab</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>audioState</string>
		<key>Title</key>
		<string>Sound notifications</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>audioVolume</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>MinimumValue</key>
		<real>0.10000000000000001</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>Volume</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Tritone</string>
		<key>Key</key>
		<string>audioSrc</string>
		<key>Title</key>
		<string>Sound</string>
		<key>Titles</key>
		<array>
			<string>Tritone</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>Tritone</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>15</real>
		<key>Key</key>
		<string>barTimeout</string>
		<key>Title</key>
		<string>Head Viewer refresh interval (sec)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>hideWhenNoMails</string>
		<key>Title</key>
		<string>Auto-hide Head Viewer if there aren't unread mails</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
