.wfancy {
    text-shadow: white 0 1px 1px;
}

.bfancy {
    text-shadow: black 0 1px 1px;
}

.no-select, .no-select * {
    cursor: default;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
    line-height: 1.5;
}

#sidebar {
    position: absolute;
    background-image: -webkit-gradient(
        linear,
        left top,
        left 500,
        color-stop(0, #EAEEF3),
        color-stop(1, #F2F6FA)
    );
    width: 269px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid #C6C9CE;
    box-shadow: inset -10px 0 30px -30px black;
}

#sidebar h1 {
    position: absolute;
    top: 8px;
    right: 25px;
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: normal;
    color: #53637D;
}

#tab-container {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    text-align: right;
}

#reset-container {
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px !important;
    cursor: default !important;
}

#tab-container .tab {
    height: 30px;
    padding-right: 23px;
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    font-size: 14px;
    line-height: 30px;
    color: #426DC9;
    cursor: pointer;
}

#tab-container .tab.selected {
    background-color: #BBCEE9;
    border: 1px solid #8FAAD9;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 1px white;
    color: black;
    text-shadow: none;
}



#content-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 270px;
    right: 0;
}
