<html>
	<head>
		<style>
			form {
				display: inline;
			}
			input {
				margin: 0px;
				padding: 0px;
			}
		</style>
		
		<script>
			window.addEventListener("message", function(e){
				switch (e.data.message) {
		        	case "submitForm":
						var maxSize = 512000; //bytes
						if (document.forms[0].file.files[0].size > maxSize) {
							parent.postMessage({message: "error", data: {type: "badRequest", details: "Max file size is 512KB."}}, "*");
						}
						document.forms[0].submit();
				}
			}, false);
		</script>
	</head>
			<form id="form" action="/upload" method="POST" enctype="multipart/form-data">
				<input type="file" name="file">
			</form>
	</body>
</html>