<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Elia Cereda</string>
	<key>Builder Version</key>
	<string>7534.20.8</string>
	<key>CFBundleDisplayName</key>
	<string>GMail Counter</string>
	<key>CFBundleIdentifier</key>
	<string>it.eliacereda.gmailcounter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string>bar</string>
				<key>Label</key>
				<string>GMail Head Viewer</string>
			</dict>
		</array>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>preferences</string>
				<key>Identifier</key>
				<string>preferences</string>
				<key>Title</key>
				<string>GMail Counter Settings...</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>button</string>
				<key>Identifier</key>
				<string>button</string>
				<key>Image</key>
				<string>img/button.png</string>
				<key>Label</key>
				<string>GMail Counter</string>
				<key>Palette Label</key>
				<string>GMail Counter</string>
				<key>Tool Tip</key>
				<string>GMail Counter - Loading...</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Get informed about your unread mails at the same time they arrive, without even leaving Safari.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>mail.google.com</string>
				<string>gmailcounter-app.appspot.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://elix14.altervista.org/update.plist</string>
	<key>Website</key>
	<string>http://elix14.altervista.org/</string>
</dict>
</plist>
