.setting.bundle.description {
    margin-left: 2px;
    padding-left: 10px;
    border-left: 1px solid #C2C2C2;
    color: #555555;
}

#nothing-found {
	margin: 0;
	padding: 0;
	border: none;
	color: #999999;
	margin-top: 10px !important;
}

#GCPlayButton {
	position: relative;
	right: 15px;
	
	cursor: pointer;
	color: #222;
}